.leftMenu {
  margin-top: 3px;
  width: 215px;
  height: 90vh;
  box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
  background-color: white;
  text-align: start;
  h1 {
    margin: 0;
  }
  p {
    padding-left: 20px;
    color: #5D6D97;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}