.header {
  height: 58px;
  box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
  align-items: center;
  background-color: white;
  h1 {
    padding-top: 18px;
    text-align: start;
    padding-left: 24px;
    color: #5D6E97;
    font-size: 20px;
    margin-top: 0;
  }
}