.timeIntervals {
  margin: 50px auto 0 auto;
  display: flex;
}

.timeIntervals__inputs {
  display: flex;
  margin-bottom: 10px;

  svg {
    width: 20px;
    height: 20px;
    fill: #dc3545;
    cursor: pointer;
  }
  input {
    height: 28px;
    margin-right: 50px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 20px;
    padding-left: 20px;
    width: 167px;
    padding-right: 10px;
    outline: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.timeInterval__addBtn {
  height: 24px;
  align-items: center;
  font-size: 13px;
  display: flex;
  background-color: none;
  border: none;
  cursor: pointer;
  color: #3C5AA8;
  svg {
    margin-right: 5px;
  }
}

.timeIntervals__table {
  padding: 15px;
  border: 1px solid rgb(206, 206, 206);
  margin-right: 20px;
  height: fit-content;
  max-height: 408px;
  overflow-y: scroll;
}

.timeIntervals__table__header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 33px;
  p {
    color: #3C5AA8;
  }
}

.timeIntervals__table__header__dateLastActivity {
  position: relative;
  right: 32px;
}

.timeIntervalApollo {
  margin: 0 auto;
}

.timeIntervalApollo__btn {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #4A9DFF;
  color: white;
  cursor: pointer;
}

.timeIntervalApollo__BtnAndErrMessageBlock {
  display: flex;
  justify-content: space-between;
  width: 722px;
  margin-top: 10px;
  text-align: left;
  p {
    margin: 0;
    position: relative;
    color: #dc3545;
  }
}

.timeIntervals__inputs__userIdBlock__err {
  border-color: #dc3545 !important;
}

.timeIntervalApollo__RR_block {
  display: flex;
  align-items: center;
  max-width: 450px;
  justify-content: space-between;
  input {
    width: 50px;
    margin: 0 10px;
  }
  span {
    margin-left: 5px;
  }
}

.timeIntervalApollo__histogram {
  margin-bottom: 50px;
}